
@media screen and (min-width: 1199px) {

    .btn-xs{
        width:102px !important;
        margin-right:30px!important;;
    }

    .container{
        max-width: 50% !important;
    }
    .wrap{
        margin-left:0 !important;
        margin-right:0 !important;
    }

    .margin-xs{
        margin: 1rem !important;
    }
}

@media screen and (max-width: 1199px) {
    .dateInput{
        width:72.5% !important;
    }
    .btn-xs{
        width:102px !important;
        margin-right:30px!important;;
    }
    .container{
        max-width: 879px !important;
    }

    .form__field{
        width:100% !important;
    }

    .wrap{
        margin-left:0 !important;
        margin-right:0 !important;
    }

    .margin-xs{
        margin: 1rem !important;
    }
}

@media screen and (max-width: 991px) {
   .wrap{
       width:100% !important;
       margin-left:20px !important;
       margin-right:20px !important;
   }

    .margin-top{
        margin-top:20px !important;
    }

    .font24{
        font-size:16px !important;
    }

    .font-header{
        font-size:19px !important;
    }

    .container{
        max-width : 951px !important;
    }
    .btn-xs{
        width:102px !important;
        margin-right:30px !important;;
    }

    .margin-xs{
        margin: 1rem !important;
    }
}

@media only screen and (max-width:576px)  {

    .font24{
        font-size:15px !important;
    }

    .margin-xs{
        margin: 0 !important;
    }

    .font-header{
        font-size:18px !important;
    }

    .max-width{
        width:100% !important;

    }

    .box-content{
        padding-right:5px !important;
        padding-left:5px !important;

    }

    .dateInput{
        width:100% !important;
    }

    .padding-xs{
        padding:0 !important;
        text-align:left !important;
    }

    .btn-xs{
        width:71px !important;
        height:34px !important;
        margin-right:12px !important;
    }
}

