 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



 body {
 background: rgb(255,253,253);
 background: linear-gradient(90deg, rgba(255,253,253,1) 28%, rgba(161,209,250,1) 49%, rgba(161,209,250,1) 88%);
 }
 .fare-label-border{
     border-radius: 0 0 20px 20px;
 }

 .list-bottom-border{
     border-bottom: 2px solid black;
 }
 .wrapper {
     max-height: 470px;
     padding: 20px 30px 15px 30px;
     background-color: white;
     border-radius: 15px;
     box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
 }

 .wrapper .name {
     font-weight: 600;
     font-size: 1.4rem;
     letter-spacing: 1.3px;
     padding-left: 10px;
     color: #555
 }

 .wrapper .form-field input {
     width: 100%;
     display: block;
     border: none;
     outline: none;
     background: none;
     font-size: 1.2rem;
     color: #666;
     /*padding: 10px 15px 10px 10px*/
 }

 .wrapper .form-field {
     padding-left: 10px;
     margin-bottom: 20px;
    border: 0;
    border-bottom: 2px solid darkblue;
    outline: 0;
    font-size: 1rem;
    color: gray;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
 }

 .form-field:focus {
      padding-bottom: 6px;
      font-weight: 400;
      border-width: 3px;
      border-image: linear-gradient(to right, lightblue,darkblue);
      border-image-slice: 1;
  }


 .wrapper .btn {
     box-shadow: none;
     width: 100%;
     height: 40px;
     background-color: #063970;
     color: #fff;
     border-radius: 25px;
     box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
     letter-spacing: 1.3px
 }

 .wrapper .btn:hover {
     background-color: #9fd1f9;
     box-shadow:none;
     color:gray;
 }

 .wrapper a {
     text-decoration: none;
     font-size: 0.8rem;
     color: #03A9F4
 }

 .wrapper a:hover {
     color: #039BE5
 }




 .title{
         display: flex;
          justify-content:center;
         flex-direction:column;
         background-image: linear-gradient(rgb(138 219 255 / 5%), rgba(161,209,250,1)), url(logi.jpg);
           background-repeat: no-repeat;
         background-position: center;

        }


 .systemName{
        font-size:50px;
        color:#063970;
        font-weight:900;
        margin-bottom:15px;
 }

.innerTitle{
        border-bottom:3px solid white;
        width:85%;
}


 @media screen and (min-width: 1199px) {



 }

 @media screen and (max-width: 1199px) {
     .title{
         margin-top:15px;
     }
 }

 @media screen and (max-width: 991px) {

     .title{
         margin-top:15px;
     }

     /*.wrapper{*/
     /*   min-width:581px;*/
     /*}*/

     .systemName{
         font-size:30px !important;
         display: block !important;
     }

     .text-align{
         text-align: start !important;
     }
     /*html{*/
     /*    height: 100%;*/
     /*    justify-content: center;*/
     /*    align-items: center;*/
     /*    display: flex;*/
     /*}*/
 }
 @media only screen and (max-width:776px) {

     .title{
         margin-top:15px;
     }

     /*.wrapper{*/
     /*    margin: 30px auto;*/
     /*    min-width: 400px;*/
     /*}*/

     .systemName{
         font-size:30px !important;
         display: block !important;
     }

     .text-align{
         text-align: start !important;
     }
     /*html{*/
     /*    height: 100%;*/
     /*    justify-content: center;*/
     /*    align-items: center;*/
     /*    display: flex;*/
     /*}*/
 }

 @media only screen and (max-width:576px)  {

     .title{
         margin-top:15px;
     }

     .bg-color{
         background-color:white;
     }

     /*.wrapper{*/
     /*    margin: 30px auto;*/
     /*    min-width: 350px;*/
     /*}*/

     .systemName{
         font-size:30px !important;
         display: block !important;
     }

     .text-align{
         text-align: start !important;
     }

     /*html{*/
     /*    height: 100%;*/
     /*    justify-content: center;*/
     /*    align-items: center;*/
     /*    display: flex;*/
     /*}*/
     }



