#table_size{
    table-layout: fixed !important;
    width: max-content !important;
}

.table_row:not(.approve):hover{
    cursor:pointer;
    opacity: 1 !important;
    transition: 0.3s ease;
}

/* Dropdown Button */
.dropbtn {
    color: darkblue;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color:black;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    /*background-image: url('searchicon.png');*/
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 101;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



@media screen and (min-width: 1199px) {

    .btn-xs{
        width:102px !important;
        margin-right:30px!important;;
    }

    .container{
        max-width: 100% !important;
    }

    .table-width{
        width:100% !important;
    }

}

@media screen and (max-width: 1199px) {
    .dateInput{
        width:72.5% !important;
    }
    .btn-xs{
        width:102px !important;
        margin-right:30px!important;;
    }
    .container{
        max-width: 1130px !important;
    }

    .table-width{
        width:100% !important;
    }
}

@media screen and (max-width: 991px) {
    .dateInput{
        width:70% !important;
    }

    .margin-top{
        margin-top:20px !important;
    }

    .font24{
        font-size:16px !important;
    }

    .container{
        max-width : 951px !important;
    }
    .btn-xs{
        width:102px !important;
        margin-right:30px !important;;
    }

    .table-width{
        width:1000px !important;
    }

    .form__field{
        width:100% !important;
    }
}

@media only screen and (max-width:576px)  {

    .font24{
        font-size:15px !important;
    }

    .max-width{
        width:100% !important;

    }

    .box-content{
        padding-right:5px !important;
        padding-left:5px !important;

    }

    .dateInput{
        width:100% !important;
    }

    .margin-xs{
        margin-top:34px !important;
    }

    .padding-xs{
        padding:0 !important;
        text-align:left !important;
    }

    .btn-xs{
        width:71px !important;
        height:34px !important;
        margin-right:12px !important;
    }

    .table-width{
        width:1000px !important;
    }

    .form__field{
        width:80% !important;
    }
}

