<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{lblVideoTitle}"></title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/videoMaster.css">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link href="../css/pagination.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="../js/common.js"></script>
	<script src="../js/ajaxMessage/passwordChangeErrorMessages.js"></script>																		
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.0.2/js/dataTables.fixedColumns.min.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>

<style>

        div.dataTables_wrapper {
            margin: 0 auto;
        }

        th {
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
        }

        th:first-child {
            border-left: 1px solid #dddddd;
        }
</style>

<!--navigation-->
<th:block :: header th:include="@{/menu.html}"></th:block>

<!--グループマスタ-->
<div class="box box-4 container mt-5">
    <div class="box-content">
        <h2 th:text="#{lblVideoTitle}"></h2>
        <div class="row justify-content-end">
            <div class="col-4 d-flex justify-content-end">
                <a type="button" class="btn btn-secondary btn-xs  col-2 mt-3" style="width:102px;"
                   th:href="@{/videoMasterDetail}" th:text="#{btnNewReg}"></a>
            </div>
        </div>
        <div id="test-popup" class="box box-4 container mt-5 info-popup-width mfp-hide info-popup-position "
             style="position:fixed;top:40%;left:50%;transform: translate(-50%, -50%);z-index:100;">
            <div class="box-content">
                <h2 th:text="#{lblVideoEdit}"></h2>

                <form id='videoEdit'  method="POST" novalidate th:action="@{/updateVideoMaster}" th:object="${videoModel}" enctype="multipart/form-data">
                    <div class="row mt-5">
                        <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
                            <div class="row">
                                <label class="col-4 label text-info text-center mt-2 "
                                       th:text="#{videoCode} + ':'"></label>
                                <div class="form__group field col-8">
                                    <input type="input" class="form__field w-100" name="videoCode" id='video_code' required
                                           readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
                            <div class="row">
                                <label class="col-4 label text-info text-center mt-2 "
                                       th:text="#{videoTitle}  + ':'"></label>
                                <div class="form__group field col-8">
                                    <input autocomplete="false" type="input" class="form__field w-100" name="videoTitle"
                                           id='video_title' maxlength="50" oninput="inputChange('videoTitleErr')"/>
                                </div>
                                <div class="col-12" id="videoTitleErr" style="visibility:hidden">
                                    <div class="row">
                                        <label class="col-4 label text-info text-center  "></label>
                                        <div class="form__group field col-8">
                                            <span class="font24" id="videoTitleErrMsg" style="color:red;"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
                            <div class="row">
                                <label class="col-4 label text-info text-center mt-2 "
                                       th:text="#{orderList}  + ':'"></label>
                                <div class="form__group field col-8">
                                    <input autocomplete="false" type="input" class="form__field w-100" name="orderList"
                                           id='order_list' maxlength="10" oninput="inputChange('orderListErr')"/>
                                </div>
                                <div class="col-12" id="orderListErr" style="visibility:hidden">
                                    <div class="row">
                                        <label class="col-4 label text-info text-center  "></label>
                                        <div class="form__group field col-8">
                                            <span class="font24" id="orderListErrMsg" style="color:red;"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
                            <div class="row">
                                <label class="col-4 label text-info text-center mt-2 "
                                       th:text="#{videoContent}  + ':'"></label>
                                <div class="form__group field col-8">
                                    <input autocomplete="false" type="input" class="form__field w-100" name="videoContent"
                                           id='video_content' maxlength="250" oninput="inputChange('videoContentErr')"/>
                                </div>
                                <div class="col-12" id="videoContentErr" style="visibility:hidden">
                                    <div class="row">
                                        <label class="col-4 label text-info text-center  "></label>
                                        <div class="form__group field col-8">
                                            <span class="font24" id="videoContentErrMsg" style="color:red;"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-9 col-lg-9 col-sm-9 col-12 p-xl-0 p-lg-0 p-sm-0">
                            <div class="row">
                                <label class="col-xl-3 col-lg-3 col-sm-3 col-4 p-xl-0 p-lg-0 p-sm-0 label text-info text-center mt-2 "
                                       th:text="#{link} + ':'"></label>
                                <div class="form__group field col-xl-9 col-lg-9 col-sm-9 col-8 p-xl-0 p-lg-0 p-sm-0">
                                    <input name="videoLink" oninput="inputChange('videoLinkErr')" type="text" class=" label  form-control" id="video_link" th:placeholder="#{link}"
                                    maxlength="250">
                                </div>
                                <div class="col-12" id="videoLinkErr" style="visibility:hidden">
                                    <div class="row">
                                        <label class="colcol-xl-3 col-lg-3 col-sm-3 col-4 p-xl-0 p-lg-0 p-sm-0 label text-info text-center  "></label>
                                        <div class="form__group field  col-xl-9 col-lg-9 col-sm-9 col-8 p-xl-0 p-lg-0 p-sm-0 ">
                                            <span class="font24" id="videoLinkErrMsg" style="color:red;"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 justify-content ">
                        <button id="add" type="button" onclick="updateVideo()" class="btn btn-secondary  col-2 mt-3"
                                style="width:102px;" th:text="#{btnUpdate}"></button>
                    </div>

                </form>

            </div>

        </div>

        <div class="box box-4 container mt-2 ms-0 me-0 wrap">
            <div class="box-content ps-0 pe-0">
                    <table id="tableId" class="display nowrap cell-border w-100 " >
                        <thead>
                        <tr class="text-center">
                            <th scope="col">No</th>
                            <th scope="col" th:text="#{videoCode}"></th>
                            <th scope="col" th:text="#{orderList}"> </th>
                            <th scope="col" th:text="#{videoTitle}"> </th>
                            <th scope="col" th:text="#{videoContent}"> </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="align-middle"  th:each="allVideoList,stat: ${allVideoList}">
                            <td class="text-center" th:text="${stat.count}"> </td>
                            <td class="text-center"  th:text="${allVideoList.videoCode}"> </td>
                            <td class="text-center" th:text="${allVideoList.orderList}"></td>
                            <td class="text-center"  th:text="${allVideoList.videoTitle}"></td>
                            <td class="text-center"  th:text="${allVideoList.videoContent}"></td>
                            <td class="text-center">
                                <button href="#test-popup" th:onclick="show([[${allVideoList.videoCode}]],[[${allVideoList.orderList}]],[[${allVideoList.videoTitle}]],[[${allVideoList.videoContent}]],[[${allVideoList.videoLink}]]);"
                                        type="button"  class="open-popup-link btn btn-outline-primary btn-sm" style="border-radius:10px; width:65px;height:35px;"  th:text="#{btnEdit}"
                                ></button>
                                <button  th:href="'#confirm-popup-'+${stat.count}"  type="button" class="open-popup-link btn btn-outline-danger btn-sm" style="border-radius:10px; width:65px;height:35px" th:text="#{btnDelete}"></button>
                                <div th:id="'confirm-popup-'+${stat.count}" class="box box-4 container mt-5 delete-popup-width mfp-hide " style="position:fixed;top:43%;left:50%;transform: translate(-50%, -50%);z-index:100;">
                                    <div class="box-content">
                                        <div class="row">
                                            <h5 class="text-center" th:text="#{msgDeleteMessage}">削除しますか ❔</h5>
                                        </div>
                                        <div class="row justify-content-center mt-4">
                                            <a class="btn btn-outline-danger deleteBtn "
                                               style="border-radius:10px; width:65px;height:35px;"
                                               th:href="@{/deleteVideoMaster/{videoCode}(videoCode=${allVideoList.videoCode})}"
                                               th:text="#{btnYes}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a th:href="${allVideoList.videoLink}" class="btn btn-success"  th:text="#{link}" target="_blank"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>


    </div>

</div>



<!--table-->
<script>
  let languageFlag = "[[${languageOption}]]";
    loadErrorMessage();
    let valid = true;

    window.onload = function() {
    document.getElementById("navbarDropdownMenuLink").classList.add("active");
        var userControlFlag = "[[${userControlFlag.groupFlag}]]";
        if(userControlFlag == '2'){
            $("input").prop("disabled", true);
            $("select").prop("disabled", true);
            $("button").prop("disabled", true);
            $("#newRegistrationBtn").css('pointer-events','none');
            $(".deleteBtn").css('pointer-events','none');
        }
};
    let beforeOrderList = "";

  function show(videoCode, orderList, videoTitle,videoContent, link) {

      document.getElementById("video_code").value = videoCode;
      document.getElementById("order_list").value = orderList;
      document.getElementById("video_title").value = videoTitle;
      document.getElementById("video_content").value = videoContent;
      document.getElementById("video_link").value = link;
      beforeOrderList = orderList;

      inputChange("orderListErr");
      inputChange("videoTitleErr");
      inputChange("videoContentErr");
      inputChange("videoLinkErr");
  }

  $('.open-popup-link').magnificPopup({
      type: 'inline',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });

  function updateVideo() {
      // document.querySelector(".saveFareMaster").submit();

      let temp5 = "[[${savedorderList}]]";
      let temp6 = temp5.substring(1, temp5.length - 1);
      let savedOrderList = temp6.split(',');

      let orderList = document.getElementById('order_list');
      let videoTitle = document.getElementById('video_title');
      let videoContent = document.getElementById('video_content');
      let videoLink = document.getElementById('video_link');


      let add = document.getElementById('add');
      let valid = true;
      let regex = /[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/g;

      if(beforeOrderList != orderList.value){
          if (orderList.value == "") {
              showErrorMsg("orderListErr", "表示順を入力してください。", "Please Enter Order List.", "orderListErrMsg", languageFlag);
              add.type = "button";
              valid = false;
          }else if (regex.test(orderList.value)) {
              showErrorMsg("orderListErr", "表示順を半角数学で入力してください", "Please enter the order list in half-width character", "orderListErrMsg", languageFlag);
              add.type = "button";
              valid = false;
          } else if (!orderList.value.match("[0-9]")) {
              showErrorMsg("orderListErr", "表示順を半角数学で入力してください", "Please enter the order list in half-width character", "orderListErrMsg", languageFlag);
              add.type = "button";
              valid = false;
          }else {
              for (i = 0; i < savedOrderList.length; i++) {
                  if (orderList.value == savedOrderList[i].trim()) {
                      showErrorMsg("orderListErr", "表示順は既に登録済みです", "This is order list is already exists.", "orderListErrMsg", languageFlag);
                      add.type = "button";
                      valid = false;
                      break;
                  }
              }
          }
      }

      if(videoTitle.value == ""){
          showErrorMsg("videoTitleErr", "動画のタイトルを入力してください。", "Please Enter Video Title.", "videoTitleErrMsg", languageFlag);
          add.type = "button";
          valid = false;
      }

      if(videoContent.value == ""){
          showErrorMsg("videoContentErr", "動画の説明を入力してください。", "Please Enter Video Content.", "videoContentErrMsg", languageFlag);
          add.type = "button";
          valid = false;
      }

      if(videoLink.value == ""){
          showErrorMsg("videoLinkErr", "動画のリンクを入力してください。", "Please Enter Video Link.", "videoLinkErrMsg", languageFlag);
          add.type = "button";
          valid = false;
      }

      if (valid == true) {
          add.type = "submit"
      }
  }
  $(document).ready(function() {
      let table = $('#tableId').DataTable( {
          <!--    dom: 'lpftrip',-->
          searching: false,
          ordering: false,
          "lengthChange": false,
          dom: '<"clear">lfrtp',
          pagingType:     "simple_numbers",
          pageLength:     10,
          scrollX: true,
          language: {
              'paginate': {
                  'previous': '<span class="prev-icon"><i class="fa fa-backward" aria-hidden="true"></i></span>',
                  'next': '<span class="next-icon"><i class="fa fa-forward" aria-hidden="true"></i></span>'
              }
          },
      });

  });
</script>
</body>
</html>